*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 50px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
}
.box{
    width: 6.25%;
    height: 6.25%;
    border: 1px solid yellowgreen;
}